<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <% include ../partials/header %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2>Recuperar Senha</h2>
                    <hr> /><br> />

                    <% if(sucess){ %>
                        <div class="alert alert-sucess">
                            <%= sucess %>
                        </div>
                    <% } %>
                    
                    <% if(error){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>

                    <p>
                        Digite seu email para receber as instruçoes de como iniciar a sua Senha
                    </p>

                    <form action="/v1/api/usuarios/recuperar-senha" method="POST"></form>
                        <div class="from-group">
                            <input 
                                type="email"
                                name="email"
                                class="form-control"
                                placeholder="Digite seu e-mail"
                            />
                        </div>
                        <button class="btn btn-primary">
                            Recuperar Senha
                        </button>

                </div>
            </div>
        </div>
    </body>
</html>