<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <% include ('../partials/header') %>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-3">
                    <h2>Recuperar Senha</h2>
                    <hr> /><br> />

                    <% if(sucess){ %>
                        <div class="alert alert-sucess">
                            <%= sucess %>
                        </div>
                        <div class="text-center">
                            <h3>Acesso para login liberado</h3>
                        </div>
                    <% } %>
                    
                    <% if(error){ %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>

                    <% if(!sucess) { %>
                    <p>
                        Digite aqui sua nova senha
                    </p>

                    <form action="/v1/api/usuarios/recuperar-senha" method="POST"></form>
                        <input type="hidden" name="token" value="<%= token >">
                        <div class="from-group">
                            <input 
                                type="password"
                                name="password"
                                class="form-control"
                                placeholder="Digite sua nova Senha"
                            />
                        </div>
                        <button class="btn btn-primary">
                            Criar Nova Senha
                        </button>

                </div>
            </div>
        </div>
    </body>
</html>